/*--------- HEADER ---------*/
*:focus {
  outline: none;
}

body {
  font-family: "Cormorant Garamond", serif;
}

header {
  display: block;
}

.nav-img {
  width: 20%;
  float: left;
  padding-left: 3%;
}

.main-nav {
  width: 60%;
  float: left;
}

.main-nav a {
  color: black;
  font-weight: 400;
  border-bottom: 1px solid transparent;
  padding-bottom: 10px;
  transition: all 0.3s;
}

.main-nav a:hover,
.main-nav a:active {
  border-bottom: 1px solid black;
  border-radius: 50%;
}

.nav-icons li,
.main-nav li {
  display: inline-block;
  padding-right: 4%;
}

.nav-icons {
  width: 20%;
  float: left;
  padding-right: 3%;
}

.nav-icon {
  color: black;
  font-size: 105%;
}

/*--------- MAIN PAGE ---------*/

.main-page-img {
  background-image: url(img/hero.png);
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.main-text {
  width: 60%;
  padding-top: 15%;
  text-align: center;
}

.header-text img {
  width: 6%;
  padding-bottom: 1%;
}

.header-text p {
  color: white;
  font-weight: 300;
  font-size: 130%;
}

h1 {
  color: white;
  font-weight: 300;
  font-size: 300%;
  line-height: 90%;
}

h2 {
  color: white;
  font-size: 120%;
  font-weight: 300;
}

/*--------- OUR SERVICES ---------*/

.top-text {
  text-align: center;
  padding-bottom: 4%;
}

h3 {
  font-size: 220%;
  font-weight: 300;
  letter-spacing: 2px;
  padding-bottom: 2%;
}

h4 {
  font-size: 130%;
  font-weight: 300;
  margin: 3% 0;
}

.icon-text-div {
  margin-top: 2%;
  transition: all 0.3s;
}

.icon-text-div:hover {
  background-color: rgba(255, 255, 255, 0.685);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.icon-text-div img {
  width: 15%;
}

/*--------- WEDDING FEATURE ---------*/

.wedding-nav ul {
  list-style: none;
  text-align: center;
  padding-bottom: 1%;
}

.wedding-nav li {
  display: inline-block;
  margin-left: 2%;
  cursor: pointer;
  font-size: 110%;
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.wedding-nav li:hover {
  border-bottom: 1px solid;
  border-radius: 50%;
}

.features-img img {
  width: 100%;
  padding: 1.4% 0;
}

.mini-container {
  width: 70%;
  margin-left: 15%;
}

.mini-container .col {
  padding: 0;
  margin: 0 0.8%;
}

.feature-btn {
  text-align: center;
  margin-top: 3%;
}

.feature-btn a {
  padding: 0.7% 2.5%;
  background: #a3a698;
  color: white;
  letter-spacing: 2px;
  font-size: 95%;
}

/*--------- WEDDING FEATURE ---------*/

.request-background {
  background-image: url(img/counter-bg.jpg);
  background-position: center;
  background-size: cover;
}

.number-list img {
  margin-top: 70px;
}

.number-list p {
  line-height: 110%;
  letter-spacing: 3px;
}

.numbers {
  color: black;
}

h5 {
  margin-bottom: 2%;
  color: white;
  letter-spacing: 3px;
  font-weight: 300;
}

.request-text {
  margin-top: 10%;
  padding: 60px 0 30px 0;
  background-color: #767b67;
  width: 36%;
  margin-left: 32%;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.request-text::after {
  position: absolute;
  background: url(/img/icon/arrow.png);
  content: "";
  bottom: -24px;
  left: 0;
  right: 0;
  height: 25px;
  width: 300px;
  margin: 0 auto;
}

.request-big-text {
  font-size: 250%;
  padding-bottom: 5%;
}

.request-form {
  width: 36%;
  margin-left: 32%;
  background-color: white;
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.192);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

select[name="Services"],
select[name="Guest"],
input[type="text"],
input[type="email"] {
  width: 42%;
  padding: 13px 0 13px 8px;
  margin-top: 30px;
  border: 1px solid rgba(128, 128, 128, 0.288);
}

select[name="Services"],
input[type="text"] {
  margin-right: 5%;
}

select[name="Services"],
select[name="Guest"] {
  margin-top: 0;
}

textarea {
  border: 1px solid rgba(128, 128, 128, 0.288);
  width: 90%;
  height: 100px;
  padding: 13px 0 13px 8px;
  resize: none;
}

.request-btn {
  padding: 4% 0;
}

button[type="submit"] {
  border: 1px solid rgba(128, 128, 128, 0.288);
  padding: 2% 2.5%;
  background: #a3a698;
  color: white;
  letter-spacing: 2px;
  font-size: 95%;
  cursor: pointer;
}
