/*--------- HEADER ---------*/
body {
  font-family: "Times New Roman", Times, serif;
}

header {
  display: block;
}

.nav-img {
  width: 20%;
  float: left;
  padding-left: 3%;
}

.main-nav {
  width: 60%;
  float: left;
}

.main-nav a {
  color: black;
  font-weight: 300;
  border-bottom: 1px solid transparent;
  padding-bottom: 10px;
  transition: all 0.3s;
}

.main-nav a:hover,
.main-nav a:active {
  border-bottom: 1px solid black;
  border-radius: 50%;
}

.nav-icons li,
.main-nav li {
  display: inline-block;
  padding-right: 4%;
}

.nav-icons {
  width: 20%;
  float: left;
  padding-right: 3%;
}

.nav-icon {
  color: black;
  font-size: 105%;
}

/*--------- MAIN PAGE ---------*/

.main-page-img {
  background-image: url(img/hero.png);
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.main-text {
  width: 60%;
  padding-top: 15%;
  text-align: center;
}

.header-text img {
  width: 6%;
  padding-bottom: 1%;
}

.header-text p {
  color: white;
  font-weight: 300;
  font-size: 125%;
}

h1 {
  color: white;
  font-weight: 300;
  font-size: 300%;
  padding-top: 2%;
}

h2 {
  color: white;
  font-size: 120%;
  font-weight: 300;
}

/*--------- OUR SERVICES ---------*/
