/*--------- HEADER ---------*/
body {
  font-family: "Segoe UI";
}

header {
  display: block;
}

.nav-img {
  width: 20%;
  float: left;
  padding-left: 3%;
}

.main-nav {
  width: 60%;
  float: left;
}

.main-nav a {
  color: black;
  font-weight: 300;
  border-bottom: 1px solid transparent;
  padding-bottom: 10px;
  transition: all 0.3s;
}

.main-nav a:hover,
.main-nav a:active {
  border-bottom: 1px solid black;
  border-radius: 50%;
}

.nav-icons li,
.main-nav li {
  display: inline-block;
  padding-right: 4%;
}

.nav-icons {
  width: 20%;
  float: left;
  padding-right: 3%;
}

.nav-icon {
  color: black;
  font-size: 105%;
}

/*--------- MAIN PAGE ---------*/

.main-page-img {
  background-image: url(img/hero.png);
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.main-text {
  width: 60%;
  padding-top: 15%;
  text-align: center;
}

.header-text img {
  width: 6%;
  padding-bottom: 1%;
}

.header-text p {
  color: white;
  font-weight: 300;
  font-size: 110%;
}

h1 {
  color: white;
  font-weight: 300;
  font-size: 300%;
  line-height: 90%;
}

h2 {
  color: white;
  font-size: 120%;
  font-weight: 300;
}

/*--------- OUR SERVICES ---------*/

.top-text {
  text-align: center;
  padding-bottom: 4%;
}

h3 {
  font-size: 220%;
  font-weight: 300;
  letter-spacing: 2px;
  padding-bottom: 2%;
}

h4 {
  font-size: 130%;
  font-weight: 300;
  margin: 3% 0;
}

.icon-text-div {
  margin-top: 2%;
  transition: all 0.3s;
}

.icon-text-div:hover {
  background-color: rgba(255, 255, 255, 0.685);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.icon-text-div img {
  width: 15%;
}
